* {
  margin: 0;
  border: 1px solid black;
  padding: 0;
}

html, body, #App, #dnd-test-zone {
  width: 100%;
  height: 100%;
}

#dropzone {
  width: 500px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
}

#dropzone_first_child {
  width: 70%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
}

#dropzone_second_child {
  width: 70%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
}

#item-container {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.item {
  margin: 10px 20px;
  width: 100px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item.cnt {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
}